In [1]:
lst = [100, 200, 150, 300, 180]

In [2]:
import pandas as pd

In [6]:
df= pd.DataFrame(lst,columns=['cost'])
df

   cost
0   100
1   200
2   150
3   300
4   180

# Techniques to perform Feature Transformation:

1. Normalization <br>
2. Standardization <br>
3. Log Transformation <br>
4. Robust Scaler <br>
5. Max Absolute Scaler

1. Normalization <br>

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mns= MinMaxScaler()

In [14]:
df['cost_norm']=mns.fit_transform(df[['cost']])

In [21]:
df

   cost  cost_norm
0   100       0.00
1   200       0.50
2   150       0.25
3   300       1.00
4   180       0.40

2. Standardization

In [13]:
mean_cost= df.cost.mean()
std_cost= df.cost.std()

In [22]:
df['cost_std_manual']=(df['cost'] - mean_cost)/std_cost

In [23]:
df

   cost  cost_norm  cost_std_manual
0   100       0.00        -1.161738
1   200       0.50         0.189120
2   150       0.25        -0.486309
3   300       1.00         1.539978
4   180       0.40        -0.081051

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
stdS= StandardScaler()

In [26]:
df['cost_std_SKLEARN']=stdS.fit_transform(df[['cost']])

In [27]:
df

   cost  cost_norm  cost_std_manual  cost_std_SKLEARN
0   100       0.00        -1.161738         -1.298863
1   200       0.50         0.189120          0.211443
2   150       0.25        -0.486309         -0.543710
3   300       1.00         1.539978          1.721748
4   180       0.40        -0.081051         -0.090618

In [28]:
std_ddof0 = df.cost.std(ddof=0)

In [29]:
std_ddof0

66.2117814289874

In [30]:
std_ddof1= df.cost.std(ddof=1)

In [31]:
std_ddof1

74.02702209328699

In [35]:
df['cost_std_manual_1']=(df['cost'] - mean_cost)/std_ddof1

In [36]:
df

   cost  cost_norm  cost_std_manual  cost_std_SKLEARN  cost_std_manual_1
0   100       0.00        -1.161738         -1.298863          -1.161738
1   200       0.50         0.189120          0.211443           0.189120
2   150       0.25        -0.486309         -0.543710          -0.486309
3   300       1.00         1.539978          1.721748           1.539978
4   180       0.40        -0.081051         -0.090618          -0.081051

In [37]:
df['cost_std_SKLearn_1']= (df['cost'] - mean_cost)/std_ddof0

In [38]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863
1,200,0.50,0.189120,0.211443,0.189120,0.211443
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710
3,300,1.00,1.539978,1.721748,1.539978,1.721748
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618

3. Log Transformation

In [41]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [45]:
fc_t = FunctionTransformer(np.log1p)

In [46]:
df['fc_t'] = fc_t.fit_transform(df[['cost']])

In [47]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497

In [48]:
## another way

df['fc_t_np'] = np.log1p(df[['cost']])

In [49]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t,fc_t_np
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497

## Robust Scalar

In [53]:
Q1_25= np.percentile(df['cost'],25)

In [54]:
Q2_50=np.percentile(df['cost'],50)

In [55]:
Q3_75 = np.percentile(df['cost'],75)

In [56]:
median_cost= df.cost.median()

In [57]:
IQR = Q3_75 - Q1_25

In [58]:
df['RobustScalar']= (df['cost'] - median_cost) / IQR

In [59]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t,fc_t_np,box cox,RobustScalar
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609161,-1.6
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642559,0.4
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205967,-0.6
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276619,2.4
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481390,0.0

In [60]:
from sklearn.preprocessing import StandardScaler

In [61]:
Standard_Scaler=StandardScaler()

In [62]:
df['RobustScalar_sklearn'] = Standard_Scaler.fit_transform(df[['cost']])

In [63]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t,fc_t_np,box cox,RobustScalar,RobustScalar_sklearn
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609161,-1.6,-1.298863
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642559,0.4,0.211443
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205967,-0.6,-0.543710
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276619,2.4,1.721748
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481390,0.0,-0.090618

# Max Abs Scaler

In [64]:
df['MAError_Manual']= df['cost'] / max(df['cost'])

In [65]:
from sklearn.preprocessing import MaxAbsScaler

In [66]:
MAErroroBJ=MaxAbsScaler()

In [67]:
df['MAError_SKLearn']= MAErroroBJ.fit_transform(df[['cost']])

In [68]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t,fc_t_np,box cox,RobustScalar,RobustScalar_sklearn,MAError_Manual,MAError_SKLearn
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609161,-1.6,-1.298863,0.333333,0.333333
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642559,0.4,0.211443,0.666667,0.666667
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205967,-0.6,-0.543710,0.500000,0.500000
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276619,2.4,1.721748,1.000000,1.000000
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481390,0.0,-0.090618,0.600000,0.600000

## Power Transformer

In [50]:
from scipy.stats import boxcox

In [51]:
df['box cox'], _ = boxcox(df['cost'] + 1) ## data,params

In [52]:
df

,cost,cost_norm,cost_std_manual,cost_std_SKLEARN,cost_std_manual_1,cost_std_SKLearn_1,fc_t,fc_t_np,box cox
0,100,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609161
1,200,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642559
2,150,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205967
3,300,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276619
4,180,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481390